html {
  height: 100%;
}

#root {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.standard-button-width {
  width: 100px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}


.page-footer-class {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: #333131;
  opacity: 0.6;
  color: white;
  text-align: center;

}

.image-background-class {
  display: table;
  width: 100%;
  height: 100%;
}

.center-form-class {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.fullScreen-page-class {
  background-image: url('../images/nature.jpg');
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: auto;
}

label {
  width: 100px;
  margin-bottom: 0 !important;
}

input {
  padding: 0 5px;
  font-size: 14px;
  height: 25px;
}

.app-loading {
  margin: 0 auto;
  width: 210px;
}

.app-loading .loading-spinner {
  background-image: url(../images/loading-bar.gif);
  background-size: contain;
  width: 128px;
  height: 20px;
  -webkit-animation: lds-pacman-3 1s linear infinite;
  animation: lds-pacman-3 1.5s linear infinite;
  animation-direction: reverse;
  margin: 0 auto;
}

.app-loading .mobilab-icon {
  background-image: url(../images/logo-mobilab-white-bg.png);
  background-size: contain;
  width: 215px;
  height: 75px;
}

.loading-show-bar {
  width: 100%;
  height: 100%;
  opacity: .5;
  background-color: #8d9696;
  z-index: 1;
  position: absolute;
  top: 0px;
  display: table;
}
