//
//@media (max-width: 700px) {
//  .container {
//    grid-template-areas: "content content content" "sidebar-1 sidebar-1 sidebar-2";
//
//  }
//}

.album-container {
  display: grid;
  grid-gap: 1px;
  //grid-template-columns: 12fr;
}

.image-top {
  @extend .album-container;
  grid-template-areas: "imageThumbnail" "descriptionPart";
  grid-template-rows: calc(100% - 50px);
  grid-auto-rows: 50px;
}

.image-bottom {
  @extend .album-container;
  grid-template-areas: "descriptionPart" "imageThumbnail";
  grid-template-rows: 50px;
  grid-auto-rows: calc(100% - 50px);
}

.imageThumbnailClass {
  position: relative;
  grid-area: imageThumbnail;
  //grid-row: span 4;
}

.descriptionPartClass {
  grid-area: descriptionPart;
  background: linear-gradient(0deg, #f36082 0%, #f1e6f0 100%);
  opacity: 0.7;
}

.album-section {
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  //background-color: var(--purple);
}

img {
  display: block;
  max-width: 185px;
}





/* Child Text Container */
.imageThumbnailClass div{
  position: absolute;
  top: 20px;
  left: 0;
  background: black;
  color: white;
  margin-bottom: 5px;
  font-family: sans-serif;
  opacity: 0;
  display: none;
  -webkit-transition: visibility 0s, opacity 0.5s linear;
  transition: visibility 0s, opacity 0.5s linear;
}

/* Hover on Parent Container */
.imageThumbnailClass div:hover{
  cursor: pointer;
}

.imageThumbnailClass:hover div{
  width: 150px;
  padding: 8px 15px;
  display: block;
  opacity: 0.7;
}

.e-dialog .e-dlg-header-content {
  padding: 2px 10px 2px 10px !important;
  border-bottom: 1px solid gray !important;
}
.e-dialog .e-dlg-content{padding: 5px !important;}

.album-detail-label{padding: 5px;}


.album-window-detail-part {
  grid-area: descriptionPart;
  background: linear-gradient(0deg, #dcd4d6 0%, #b23cc7 100%);
  grid-auto-rows: 31px;
  grid-auto-columns: 100%;
  opacity: 0.7;
  @extend .album-section;
}

.album-window-image-part {
  position: relative;
  grid-area: imageThumbnail;
  @extend .album-section;
}

.album-window {
  grid-template-areas:
    "album-window-image-part"
    "album-window-detail-part";
  height: 315px;
  grid-auto-rows: 60px;
  grid-template-rows: calc(100% - 60px);
  color: black;
}

.album-window-description-label{
  padding-right: 15px;
  width: 100%;
  height: 30px;
  overflow: hidden;
}
