.gallery-container {
  background-size: 340px, auto;
  height: fit-content;
  margin: 30px;
  background-attachment: fixed;
  letter-spacing: -1px;
  background-image: url(topography.svg), linear-gradient(110deg, #f93d66, #6d47d9);
}

.album {
  background: rgba(2, 1, 2, 0.2);
  border: 1px solid;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin: 0 !important;
  @extend .album-item;
}

.gallery-container {
  height: max-content;
}

.gallery-header {
  min-height: 70px;
  background: rgba(2, 2, 2, 0.2);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.gallery-body {
  height: calc(100% - 80px);
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background: rgba(60, 32, 4, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
}


* {
  box-sizing: border-box;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, 90px);
  grid-auto-rows: 40px;
  grid-auto-flow: dense;
  grid-gap: 5px;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.gallery-filter-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 95px);
  grid-auto-rows: 30px;
  grid-auto-flow: dense;
  grid-gap: 4px 10px;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.album-item {
  overflow: hidden;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 1;
}

.album-item img {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.album-item:hover .item__overlay {
  transform: translateY(0);
}

.album-item.v1 {
  grid-row: span 1;
}

.album-item.v2 {
  grid-row: span 2;
}

.album-item.v3 {
  grid-row: span 3;
}

.album-item.v4 {
  grid-row: span 4;
}

.album-item.v5 {
  grid-row: span 5;
}

.album-item.v6 {
  grid-row: span 6;
}

.album-item.h2 {
  grid-column: span 2;
  font-size: 25px;
}

.album-item.h3 {
  grid-column: span 3;
}

.album-item.h4 {
  grid-column: span 4;
}



