.gallery-container {
  background-size: 340px, auto;
  height: fit-content;
  margin: 30px;
  background-attachment: fixed;
  letter-spacing: -1px;
  background-image: url(topography.svg), linear-gradient(110deg, #f93d66, #6d47d9);
}

.gallery-container {
  height: -moz-fit-content;
}

.gallery-header {
  min-height: 70px;
  background: rgba(2, 2, 2, 0.2);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.gallery-body {
  height: calc(100% - 80px);
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background: rgba(60, 32, 4, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
}


* {
  box-sizing: border-box;
}

.close {
  background: none;
  color: black;
  border: 0;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, 90px);
  grid-auto-rows: 40px;
  grid-auto-flow: dense;
  grid-gap: 5px;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.gallery-filter-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 95px);
  grid-auto-rows: 85px;
  grid-auto-flow: dense;
  grid-gap: 10px;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.item {
  overflow: hidden;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 1;
}

.item img {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.item__overlay {
  background: #ffc60032;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  position: relative;
  display: grid;
  justify-items: center;
  align-items: center;
  transition: 0.2s;
  transform: translateY(100%);
}

.item__overlay button {
  background: none;
  border: 2px solid white;
  color: white;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.7);
  padding: 5px;
}

.item:hover .item__overlay {
  transform: translateY(0);
}

.item.v1 {
  grid-row: span 1;
}

.item.v2 {
  grid-row: span 2;
}

.item.v3 {
  grid-row: span 3;
}

.item.v4 {
  grid-row: span 4;
}

.item.v5 {
  grid-row: span 5;
}

.item.v6 {
  grid-row: span 6;
}

.item.h2 {
  grid-column: span 2;
}

.item.h3 {
  grid-column: span 3;
}

.item.h4 {
  grid-column: span 4;
}


.overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  z-index: 2;
}

.overlay.open {
  display: grid;
  align-items: center;
  justify-items: center;
}

.overlay-inner {
  background: white;
  width: 700px;
  padding: 20px;
}

.overlay img {
  width: 100%;
}



